/**
* @Date:   2017-01-27T10:15:42+01:00
* @Email:  choloisaza@outlook.de
* @Last modified time: 2017-01-28T11:09:19+01:00
*/


body {
  padding-top: 100px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.home-img {
  width: 200px;
  height: auto;
}

.brand-custom {
  width: 100px;
  height: auto;
}
